{% extends "base.html" %}
{% block content %}
<div class="page-header">
	<span style="display:inline-block"><h1>Competencies</h1></span><span style="display:inline-block;padding-left:5em"></span>
</div>
<div class="row">
    <div class="col-xs-12">
    	<a href="/compsearch">Search Comps</a>
		{% if 'admin' in current_user.roles %}
        	|  <a href="{{ url_for('new_comp') }}">New Competency</a>
		{% endif %}
    </div>
</div>
<div class="row"><div class="col-xs-12"><hr></div></div>
<p>
Click links to add competencies..
<br><a href="./?uri=http://adlnet.gov/competency-framework/scorm/choosing-an-lms">choose lms</a>
<br><a href="./?uri=http://adlnet.gov/competency-framework/computer-science/basic-programming">programming</a>
<br><a href="./?uri=http://12.109.40.34/performance-framework/xapi/tetris">perf tetris</a>
<br><a href="./cc">common core</a>
</p>
<div class="col-xs-12">
{% for c in comps %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><a href="{{ url_for('competencies') }}?uri={{c.uri}}">{{ c.title }}</a></h3>
		</div>
		<div class="panel-body">
			<p>{{ c.description }}</p>
			<ul>
			{% for lr in c.lr_data %}
			<li><a href="{{ lr }}">LR Metadata</a></li>
			{% else %}
			There are no known linked LR resources
			{% endfor %}
			</ul>
		</div>
	</div>
{% else %}
<p>No competencies added to the system yet!</p>
{% endfor %}
</div>
{% endblock %}