{% extends "base.html" %}
{% block content %}
<div class="page-header">
	<span style="display:inline-block"><h1>Competencies</h1></span><span style="display:inline-block;padding-left:5em"><a href="/compsearch" class="btn btn-default">Search Comps</a></span>
</div>
{% if 'admin' in current_user.roles %}
<div class="row">
    <div class="col-xs-2">
        <a href="{{ url_for('new_comp') }}" class="btn btn-default">New Competency</a>
    </div>
</div>
<div class="row"><div class="col-xs-12"><hr></div></div>
{% endif %}
<p>
Click links to add competencies..
<br><a href="./?uri=http://adlnet.gov/competency-framework/scorm/choosing-an-lms">choose lms</a>
<br><a href="./?uri=http://adlnet.gov/competency-framework/computer-science/basic-programming">programming</a>
<br><a href="./?uri=http://12.109.40.34/performance-framework/xapi/tetris">perf tetris</a>
<br><a href="./cc">common core</a>
</p>
<div class="col-xs-12">
{% for c in comps %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><a href="{{ url_for('competencies') }}?uri={{c.uri}}">{{ c.title }}</a></h3>
		</div>
		<div class="panel-body">
			<p>{{ c.description }}</p>
		</div>
	</div>
{% else %}
<p>No competencies added to the system yet!</p>
{% endfor %}
</div>
{% endblock %}