{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>{{ comp.title }}
    {% if current_user.is_authenticated() and not userview %}
        <small>
            <form class="form-inline" role="form" action="{{ url_for('add_comp') }}" method="post" >
            <input type="hidden" name="comp_uri" value="{{ comp.uri }}">
            <button type="submit" class="btn btn-default">Register</button>
            </form>
        </small>
    {% elif userview and comp.completed %}
        <small><span class="label label-success">completed</span></small>
    {% endif %}
    </h1>
</div>
<p>
    {% if 'admin' in current_user.roles %}
        <a href="{{ url_for('edit_comp', objid=cid) }}">Edit</a>
        {% if comp.type != "http://ns.medbiq.org/competencyobject/v1/}CompetencyObject" %}
             |  <a href="{{ url_for('competencies', uri=comp.uri, mb=true) }}">View as MedBiq Competency</a>
        {% endif %}
    {% endif %}
</p>
<div class="col-xs-12">
<dl class="dl-horizontal">
    <dt>uri</dt>
    <dd>{{ comp.uri }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>description</dt>
    <dd>{{ comp.description|safe }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>levels</dt>
    <dd>{{ comp.levels }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>type</dt>
    <dd>{{ comp.type }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>last modified</dt>
    <dd>{{ comp.lastmodified }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>ids</dt>
    <dd>{{ comp.ids }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>relations</dt>
    <dd>{{ comp.relations }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Linked LR data</dt>
    <dd>
        <ul>
        {% for lr in comp.lr_data %}
        <li><a href="{{ lr }}">LR Metadata</a></li>
        {% else %}
        There are no known linked LR resources
        {% endfor %}
        </ul>
    </dd>
</dl>
</div>
{% endblock %}