{% extends "base.html" %}
{% block content %}
<form class="form-horizontal" role="form" method="post">
	{{ frameworks_form.hidden_tag() }}
	{% for field, errors in frameworks_form.errors.iteritems() %}
		<div class="alert alert-danger">{{ field }}: {{ ', '.join(errors) }}</div>
	{% endfor %}	
	{% for field in frameworks_form %}
	<div class="form-group">
	{{ field.label(class_='col-sm-2 control-label', for=field.id) }}
	{{ field(class_='form-control col-sm-10') }}
	</div>
	{% endfor %}
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">	<button type="submit" class="btn btn-default">Submit</button></div>
	</div>
</form>
<br>
<br>
<p>Below are the frameworks already added to the system. If you want to add one to your list, just click Go!</p>
{% for cfwk in cfwks %}
<div class="col-xs-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ cfwk.title }}</h3>
		</div>
		<div class="panel-body">
			<p>{{ cfwk.description }}</p>
			<p><a href="{{ url_for('me_competency', cfwk_id=cfwk.id) }}" class="btn btn-primary" role="button">Go</a></p>
		</div>
	</div>
</div>
{% else %}
<p>No frameworks added to the system yet!</p>
{% endfor %}
{% endblock %}
