{% extends "base.html" %}
{% block content %}
<form class="form-horizontal" role="form" method="post">
	{% csrf_token %}
	{% if frameworks_form.errors %}
		{% for error in frameworks_form.non_field_errors %}
		<div class="alert alert-danger">{{ error }}</div>
		{% endfor %}
	{% endif %}	
	{% for field in frameworks_form %}
	<div class="form-group">
	{% for error in field.errors %}
	<div class="alert alert-danger">{{ error }}</div>
	{% endfor %}
	<label class="col-sm-2 control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
	<div class="col-sm-10">{{ field|add_class:"form-control" }}</div>
	</div>
	{% endfor %}
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">	<button type="submit" class="btn btn-default">Submit</button></div>
	</div>
</form>
<br>
<br>
<p>Below are the frameworks already added to the system. If you want to add one to your list, just click Go!</p>
{% for cfwk in cfwks %}
<div class="col-xs-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">{{ cfwk.title }}</h3>
		</div>
		<div class="panel-body">
			<p>{{ cfwk.description }}</p>
			<p><a href="{% url 'comp.views.me_competency' cfwk.id %}" class="btn btn-primary" role="button">Go</a></p>
		</div>
	</div>
</div>
{% empty %}
<p>No frameworks added to the system yet!</p>
{% endfor %}
{% endblock %}
