{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>xAPI / Competency Demo <small>Demonstrating xAPI, the Learning Registry, and competencies</small></h1>
</div>
{% if 'admin' in current_user.roles %}
<div class="row">
    <div class="col-xs-2">
        <form class="form-inline" role="form" method="post" action="{{ url_for('reset_all') }}">
            <button type="submit" class="btn btn-danger">Delete All Data in System</button>
        </form>
    </div>
    <div class="col-xs-2">
        <form class="form-inline" role="form" method="post" action="{{ url_for('reset_comps') }}">
            <button type="submit" class="btn btn-danger">Delete Only the Competencies</button>
        </form>
    </div>
</div>
<div class="row">
        The Badge Classes for Tetris open badges can be found here:
        <ul>
            {% for b in badges %}
            <li><a href="/tetris/{{ b._id }}">{{ b.name }}</a></li>
            {% else %}
            No Badge Classes have been added!
            {% endfor %}
        </ul>    
</div>
<div class="row"><div class="col-xs-12"><hr></div></div>
{% endif %}
<div class="row">
    <div class="col-xs-12">
        <p>
        This app demonstrates one way to connect existing technologies to make smarter and more tailored tools for students. The goals are:
        <ul>
            <li>Show how a system can use the competency URIs to find the machine readable version of a competency.</li>
            <li>Show how a competency URI can act as the object of some experience, or as part of the context of an experience.</li>
            <li>Show how content relevant to a learners' goals can become discoverable in the Learning Registry (LR) by associating the competency URI to the content in the LR.</li>
        </ul>
        </p>
    </div>
    <div class="col-xs-12">
        <h3>Getting Started</h3>
        <p>
        Log in or Sign up from the nav bar at the top of the page.
        </p>
        <p>
        After logging in, explore the competencies and sets. Sign up for a competency. Search the LR and associate comptencies to the LR results.
        </p>
    </div>
</div>
{% endblock %}