{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<form class="form-horizontal" role="form" method="post">
			{{ search_form.hidden_tag() }}
				{% for field, errors in search_form.errors.iteritems() %}
					<div class="alert alert-danger">{{ field }}: {{ ', '.join(errors) }}</div>
				{% endfor %}
				{% for field in search_form %}
				<div class="form-group">
				{{ field.label(class_='sr-only', for=field.id) }}
				{{ field(class_='form-control', placeholder=field.name) }}
				</div>
				{% endfor %}
			<button type="submit" class="btn btn-default">Search</button>
		</form>
	</div>
</div>
<br>
{% if result %}
<div class="row">
	<div class="col-md-6">
		<div id="countdiv">There were <b id="count">{{ result['count'] }}</b> results</div>
		<ul class="media-list">
			{% for r in result['data'] %}
			<li class="media draggable" id="{{ r['_id'] }}">
				<a class="pull-left" href="{{ r['url'] }}" target="_blank">
					<img class="media-object" src="{{ r['screenshot'] }}" alt="{{ r['title'] }}" height="180px" width="171px">
				</a>
				<div class="media-body">
					<h4 class="media-heading"><a href="{{ r['url'] }}" target="_blank">{{ r['title'] }}</a></h4>
					{{  r['description']  }}
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-md-6">
		<div style="position:fixed"><!--Keeps comps on page at all times-->
		{% if current_user.is_authenticated() %}
		{% for k,v in comps.items() %}
			<div class="panel panel-default droppable" id="{{ k }}">
				<div class="panel-heading">
					<h3 class="panel-title"><a href="{{ url_for('competencies') }}?uri={{v.uri}}">{{ v.title }}</a></h3>
				</div>
				<div class="panel-body">
					<p>{{ v.description }}</p>
				</div>
			</div>
		{% else %}
		You have no competencies!
		{% endfor %}
		{% else %}
		Must be logged in to link results!
		{% endif %}
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
{% block js %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript">
	$(window).load(function(){
		$('.draggable').draggable({
			helper: "clone",
			revert: "invalid",
			stop: function(){
				$(this).draggable('option', 'revert', 'invalid');
			},
			zIndex: 10
		});
		$('.droppable').droppable({
			hoverClass: "ui-state-hover",
			drop: function(event, ui){
				alert("Linked LR " + $(ui.draggable).attr('id') + " to comp " + $(this).attr('id'));
			}
		});
	});
</script>
{% endblock %}