{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>Learning Registry Search</h1>
</div>    
<p>You can search the Learning Registry and associate results to competencies by dragging the result to a competency</p>
<div class="row">
	<div class="col-md-12">
		<form class="form-horizontal" role="form" id="searchform">
			{{ search_form.hidden_tag() }}
			{% for field in search_form %}
			<div class="form-group">
			{{ field.label(class_='sr-only', for=field.id) }}
			{{ field(class_='form-control', placeholder=field.name) }}
			</div>
			{% endfor %}
			<button type="submit" class="btn btn-default">Search</button>
		</form>
	</div>
</div>
<br/>
<div class="row" style="display:none" id="resultsrow">
	<div class="col-md-6">
		<div id="countdiv">There were <b id="count"></b> results</div>
		<ul class="media-list" id="resultslist">
		</ul>
		<ul class="pager" id="resultPager">
			<li id="resultPreviousLi" class="previous"><a id="resultPreviousA" href="#">&larr; Previous</a></li>
			<li id="resultNextLi" class="next"><a id="resultNextA" href="#">Next &rarr;</a></li>
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#tabs-comp" data-toggle="tab">Comps</a></li>
			<li><a href="#tabs-cfwk" data-toggle="tab">Comp Fwks</a></li>
			<li><a href="#tabs-pfwk" data-toggle="tab">Per Fwks</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div id="tabs-comp" class="tab-pane active">
				<!--If user is admin they'll have the teacher role as well-->
				{% if 'teacher' in current_user.roles %}
				<div id="userComps">
				<!--Javascript fills this in-->
				</div>
				<ul class="pager" id="compPager">
					<li id="compPreviousLi" class="previous"><a id="compPreviousA" href="#">&larr; Previous</a></li>
					<li id="compNextLi" class="next"><a id="compNextA" href="#">Next &rarr;</a></li>
				</ul>
				{% else %}
				Must be a teacher or admin to link LR results to competencies!
				{% endif %}
			</div>
			<div id="tabs-cfwk" class="tab-pane">
				<!--If user is admin they'll have the teacher role as well-->
				{% if 'teacher' in current_user.roles %}
				<div id="userCfwks">
				<!--Javascript fills this in-->
				</div>
				<ul class="pager" id="cfwkPager">
					<li id="cfwkPreviousLi" class="previous"><a id="cfwkPreviousA" href="#">&larr; Previous</a></li>
					<li id="cfwkNextLi" class="next"><a id="cfwkNextA" href="#">Next &rarr;</a></li>
				</ul>
				{% else %}
				Must be a teacher or admin to link LR results to competency frameworks!
				{% endif %}
			</div>
			<div id="tabs-pfwk" class="tab-pane">
				<!--If user is admin they'll have the teacher role as well-->
				{% if 'teacher' in current_user.roles %}
				<div id="userPfwks">
				<!--Javascript fills this in-->
				</div>
				<ul class="pager" id="pfwkPager">
					<li id="pfwkPreviousLi" class="previous"><a id="pfwkPreviousA" href="#">&larr; Previous</a></li>
					<li id="pfwkNextLi" class="next"><a id="pfwkNextA" href="#">Next &rarr;</a></li>
				</ul>
				{% else %}
				Must be a teacher or admin to link LR results to competency frameworks!
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript">
	//Start of everything automatically ran once page loads
	/*
	Safe root to use
	Initialize resultPages and resultCurrentPage
	Set LR_SERVER to retrieve LR data
	Get comps from local server
	*/
	var SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	var LR_SERVER = "http://72.243.185.28/";
	var resultPages = 0;
	var resultCurrentPage = 0;
	var comps = {{ comps|safe }}
	var compfwks = {{ compfwks|safe }}
	var perfwks = {{ perfwks|safe }}

	// Handle tabs
	$('#myTab a').click(function(e){
		if($(this).parent('li').hasClass('active')){
			$($(this).attr('href')).hide();
		}
		else{
			e.preventDefault();
			$(this).tab('show');
		}
	});

	// If there are no comps hide the pager
	if (comps.length === 0){
		$('#userComps').append("There are no competencies in the system!");
		$('#compPager').hide();
	}
	else{
		/*
		Set the comp limit per page
		Get all of the comp keys into a list and get length
		Initialize compPages and compCurrentPage
		*/
		var COMP_PAGE_LIMIT = 25;
		var compTotal = comps.length;
		var compPages = 0;
		var compCurrentPage = 0;
		
		// If user has more comps that can fit on one page - calculate how many pages needed
		if (compTotal > COMP_PAGE_LIMIT){
			compPages = (compTotal % COMP_PAGE_LIMIT == 0) ? (compTotal / COMP_PAGE_LIMIT) - 1 : Math.floor(compTotal / COMP_PAGE_LIMIT);
		}

		// Create large array that will hold arrays of comp ids for each page
		var compArray = new Array();
		for(i=0; i<=compPages*COMP_PAGE_LIMIT; i+=COMP_PAGE_LIMIT){
			try{
				// Push array of 5 comp keys into big array
				compArray.push(comps.slice(i, (i + COMP_PAGE_LIMIT)));
			}
			catch(err){
				// This happens at the end of comp list, just push the remaining comp keys
				compArray.push(comps.slice(i, (compTotal - 1)));
			}
		}
		// Add the first comp list to the DOM
		addComps(compArray[0])

		// If there is more than one page of comps - set the href for the compNext link and hide the compPrevious button
		// Else hide the comp next/prev buttons
		if (compPages > 0){
			$('#compNextA').attr('href', compCurrentPage + 1)
			$('#compPreviousLi').hide()
		}
		else{
			$('#compNextLi').hide()
			$('#compPreviousLi').hide()
		}
	}

	// If there are no comp fwks hide the pager
	if (compfwks.length === 0){
		$('#userCfwks').append("There are no competency frameworks in the system!");
		$('#cfwkPager').hide();
	}
	else{
		/*
		Set the comp limit per page
		Get all of the comp keys into a list and get length
		Initialize compPages and compCurrentPage
		*/
		var CFWK_PAGE_LIMIT = 5;
		var cfwkTotal = compfwks.length;
		var cfwkPages = 0;
		var cfwkCurrentPage = 0;
		
		// If user has more comps that can fit on one page - calculate how many pages needed
		if (cfwkTotal > CFWK_PAGE_LIMIT){
			cfwkPages = (cfwkTotal % CFWK_PAGE_LIMIT == 0) ? (cfwkTotal / CFWK_PAGE_LIMIT) - 1 : Math.floor(cfwkTotal / CFWK_PAGE_LIMIT);
		}

		// Create large array that will hold arrays of comp ids for each page
		var cfwkArray = new Array();
		for(i=0; i<=cfwkPages*CFWK_PAGE_LIMIT; i+=CFWK_PAGE_LIMIT){
			try{
				// Push array of 5 comp keys into big array
				cfwkArray.push(compfwks.slice(i, (i + CFWK_PAGE_LIMIT)));
			}
			catch(err){
				// This happens at the end of comp list, just push the remaining comp keys
				cfwkArray.push(compfwks.slice(i, (cfwkTotal - 1)));
			}
		}
		// Add the first comp list to the DOM
		addCfwks(cfwkArray[0])

		// If there is more than one page of comps - set the href for the compNext link and hide the compPrevious button
		// Else hide the comp next/prev buttons
		if (cfwkPages > 0){
			$('#cfwkNextA').attr('href', cfwkCurrentPage + 1)
			$('#cfwkPreviousLi').hide()
		}
		else{
			$('#cfwkNextLi').hide()
			$('#cfwkPreviousLi').hide()
		}
	}

	// If there are no per fwks hide the pager
	if (perfwks.length === 0){
		$('#userPfwks').append("There are no performance frameworks in the system!");
		$('#pfwkPager').hide();
	}
	else{
		/*
		Set the comp limit per page
		Get all of the comp keys into a list and get length
		Initialize compPages and compCurrentPage
		*/
		var PFWK_PAGE_LIMIT = 5;
		var pfwkTotal = perfwks.length;
		var pfwkPages = 0;
		var pfwkCurrentPage = 0;
		
		// If user has more perfwks that can fit on one page - calculate how many pages needed
		if (pfwkTotal > PFWK_PAGE_LIMIT){
			pfwkPages = (pfwkTotal % PFWK_PAGE_LIMIT == 0) ? (pfwkTotal / PFWK_PAGE_LIMIT) - 1 : Math.floor(pfwkTotal / PFWK_PAGE_LIMIT);
		}

		// Create large array that will hold arrays of perfwk ids for each page
		var pfwkArray = new Array();
		for(i=0; i<=pfwkPages*PFWK_PAGE_LIMIT; i+=PFWK_PAGE_LIMIT){
			try{
				// Push array of limit of keys into big array
				pfwkArray.push(perfwks.slice(i, (i + PFWK_PAGE_LIMIT)));
			}
			catch(err){
				// This happens at the end of perfwk list, just push the remaining comp keys
				pfwkArray.push(perfwks.slice(i, (pfwkTotal - 1)));
			}
		}
		// Add the first perfwk list to the DOM
		addPfwks(pfwkArray[0])

		// If there is more than one page of perfwks - set the href for the pfwkNext link and hide the pfwkPrevious button
		// Else hide the pfwk next/prev buttons
		if (pfwkPages > 0){
			$('#pfwkNextA').attr('href', pfwkCurrentPage + 1)
			$('#pfwkPreviousLi').hide()
		}
		else{
			$('#pfwkNextLi').hide()
			$('#pfwkPreviousLi').hide()
		}
	}
	//End of everything automatically ran after page loads

	function processData(data){
		// Add screenshot to each item
		$.each(data['data'], function(index, value){
			value['screenshot'] = LR_SERVER + "screenshot/" + value['_id'];
		});
		return data
	}
	function addToResultsList(data){
		// Add result HTML to the resultslist
		// Add draggable to item (won't bind correctly after document ready)
		$.each(data['data'], function(index, value){
			$('#resultslist').append("<li class='media draggable' id='"+value['_id']+"'>"
									+ "<a class='pull-left' href='"+value['url']+"' target='_blank'>"
									+ "<img class='media-object' src='"+value['screenshot']+"' alt='"+value['title']+"' height='180px' width='171px'>"
									+ "</a>"
									+ "<div class='media-body'>"
									+ "<h4 class='media-heading'>"
									+ "<a href='"+value['url']+"' target='_blank'>"+value['title']+"</a></h4>"
									+ value['description']+"</div></li>");
			$('#resultslist li').last()
				.draggable({
					helper: "clone",
					revert: "invalid",
					stop: function(){
						$(this).draggable('option', 'revert', 'invalid');
					},
					zIndex: 10
				});			
		});
	}
	function addComps(array){
		// Clear userComps div
		$('#userComps').html("")

		// For each comp in the array - add that data to the DOM and add droppable functionality
		$.each(array, function(index, value){
			$('#userComps').append("<div class='panel panel-default droppable' id='"+value._id+"' style='height:180px;overflow:auto'>"
									+ "<div class='panel-heading'>"
									+ "<h3 class='panel-title'><a href='"+SCRIPT_ROOT+"competencies?uri="+value.uri+"'>"+value.title+"</a></h3>"
									+ "</div>"
									+ "<div class='panel-body'>"
									+ "<p>"+value.description+"</p></div>");
			$('#userComps div').last()
				.droppable({
					tolerance: "pointer",
					greedy: true,
					hoverClass: "ui-state-hover",
					drop: function(event, ui){
						var postData = {'lr_uri': $(ui.draggable).find('a').attr('href'), 'lr_title': $(ui.draggable).find('a').text(),'c_id': value._id, 'c_uri':value.uri,
							'c_content':value.description};
						$.post(SCRIPT_ROOT+"link_lr_comp", postData, function(data, status){
							alert(data);
						});
					}
				});
		});
	}
	function addCfwks(array){
		// Clear userComps div
		$('#userCfwks').html("")

		// For each comp in the array - add that data to the DOM and add droppable functionality
		$.each(array, function(index, value){
			$('#userCfwks').append("<div class='panel panel-default droppable' id='"+value._id+"' style='height:180px'>"
									+ "<div class='panel-heading'>"
									+ "<h3 class='panel-title'><a href='"+SCRIPT_ROOT+"competencies?uri="+value.uri+"'>"+value.title+"</a></h3>"
									+ "</div>"
									+ "<div class='panel-body'>"
									+ "<p>"+value.description+"</p></div>");
			$('#userCfwks div').last()
				.droppable({
					hoverClass: "ui-state-hover",
					drop: function(event, ui){
						var postData = {'lr_uri': $(ui.draggable).find('a').attr('href'), 'lr_title': $(ui.draggable).find('a').text(), 'c_id': value._id, 'c_uri':value.uri,
							'c_content':value.description};
						$.post(SCRIPT_ROOT+"link_lr_cfwk", postData, function(data, status){
							alert(data);
						});
					}
				});
		});
	}
	function addPfwks(array){
		// Clear userComps div
		$('#userPfwks').html("")

		// For each comp in the array - add that data to the DOM and add droppable functionality
		$.each(array, function(index, value){
			$('#userPfwks').append("<div class='panel panel-default droppable' id='"+value._id+"' style='height:180px'>"
									+ "<div class='panel-heading'>"
									+ "<h3 class='panel-title'><a href='"+SCRIPT_ROOT+"competencies?uri="+value.uri+"'>"+value.title+"</a></h3>"
									+ "</div>"
									+ "<div class='panel-body'>"
									+ "<p>"+value.description+"</p></div>");
			$('#userPfwks div').last()
				.droppable({
					hoverClass: "ui-state-hover",
					drop: function(event, ui){
						var postData = {'lr_uri': $(ui.draggable).find('a').attr('href'), 'lr_title': $(ui.draggable).find('a').text(), 'c_id': value._id, 'c_uri':value.uri,
							'c_content':value.description};
						$.post(SCRIPT_ROOT+"link_lr_pfwk", postData, function(data, status){
							alert(data);
						});
					}
				});
		});
	}

	$('#searchform').submit(function(event){
		/*
		Prevent fire
		Clear any previous results
		Hide previous button
		Get keyword and make query
		*/
		event.preventDefault();
		$('#resultslist').html("");
		$('#resultPreviousLi').hide();
		$('#resultNextLi').show();
		var keyword = $('input[name=search]', this).val();
		var query = "search?terms=" + keyword;
		var url = LR_SERVER + query;		
		var pageQuery = "&page=";

		$.getJSON(url, function(data){
			data = processData(data)
			
			// Set compTotal count and calculate pages
			num = data['count']
			$('#count').html(num);
			resultPages = (num % 25 == 0) ? (num / 25) - 1 : Math.floor(num / 25)

			// Set query for next/prev buttons
			if (resultPages > 1){
				$('#resultNextLi').attr('href', url + pageQuery + (resultCurrentPage + 1))
				$('#resultPreviousA').attr('href', url + pageQuery + (resultCurrentPage - 1))
			}
			else{
				$('#resultNextLi').hide()
				$('#resultPreviousLi').hide()
			}

			// Display the whole row
			addToResultsList(data)
			$('#resultsrow').show();
			$('input[name=search]', this).val('')
		});
	});
	$('#resultNextLi').click(function(event){
		/*
		Prevent fire
		Clear any previous results
		Increment current page
		*/
		event.preventDefault();	
		$('#resultslist').html("");
		resultCurrentPage++;

		// Get href for next button
		var href = $('#resultNextLi').attr('href');
		$.getJSON(href, function(data){
			data = processData(data)

			// Make sure prev button is shown and decrement it
			// If current page is at the end - hide next button
			// Else - increment next button
			$('#resultPreviousLi').show()
			$('#resultPreviousA').attr('href', href.substr(0, href.length - 1) + (resultCurrentPage - 1))
			if (resultCurrentPage == resultPages){
				$('#resultNextLi').hide()
			}
			else{
				$('#resultNextLi').attr('href', href.substr(0, href.length - 1) + (resultCurrentPage + 1))
			}

			// Display the whole row
			addToResultsList(data)
			$('#resultsrow').show();
		});		
	});
	$('#resultPreviousA').click(function(event){
		/*
		Prevent fire
		Clear any previous results
		Decrement current page
		*/
		event.preventDefault();
		$('#resultslist').html("");
		resultCurrentPage--;

		// Get href for prev button
		var href = $('#resultPreviousA').attr('href')
		$.getJSON(href, function(data){
			data = processData(data)

			// Make sure next button is shown and increment it
			// If current page is first page - hide prev button
			// Else - decrement prev button
			$('#resultNextLi').show()
			$('#resultNextLi').attr('href', href.substr(0, href.length - 1) + (resultCurrentPage + 1))
			if (resultCurrentPage == 0){
				$('#resultPreviousLi').hide()
			}
			else{
				$('#resultPreviousA').attr('href', href.substr(0, href.length - 1) + (resultCurrentPage - 1))				
			}	
			
			// Display the whole row
			addToResultsList(data)
			$('#resultsrow').show();
		});		
	});
	$('#compNextA').click(function(event){
		/*
		Prevent fire
		Add new page of comps to div
		Increment comp page
		*/
		event.preventDefault();
		addComps(compArray[$('#compNextA').attr('href')])
		compCurrentPage++

		// Decrement previous link and show previous button
		$('#compPreviousA').attr('href', compCurrentPage - 1)
		$('#compPreviousLi').show()

		// If compCurrentPage equals total comp pages hide next button
		// Else increment page for next link
		if (compCurrentPage == compPages){
			$('#compNextLi').hide()
		}
		else{
			$('#compNextA').attr('href', compCurrentPage + 1)
		}
	});
	$('#compPreviousA').click(function(event){
		/*
		Prevent fire
		Add new page ofcomps to div
		Decrement comp page
		*/
		event.preventDefault();		
		addComps(compArray[$('#compPreviousA').attr('href')])
		compCurrentPage--

		// Increment next link and show next button
		$('#compNextA').attr('href', compCurrentPage + 1)
		$('#compNextLi').show()

		// If compCurrentPage equals 0 hide previous button
		// Else decrement page for previous link
		if (compCurrentPage == 0){
			$('#compPreviousLi').hide()
		}
		else{
			$('#compPreviousA').attr('href', compCurrentPage - 1)
		}
	});
	$('#cfwkNextA').click(function(event){
		/*
		Prevent fire
		Add new page of comps to div
		Increment comp page
		*/
		event.preventDefault();
		addCfwks(cfwkArray[$('#cfwkNextA').attr('href')])
		cfwkCurrentPage++

		// Decrement previous link and show previous button
		$('#cfwkPreviousA').attr('href', cfwkCurrentPage - 1)
		$('#cfwkPreviousLi').show()

		// If compCurrentPage equals total comp pages hide next button
		// Else increment page for next link
		if (cfwkCurrentPage == cfwkPages){
			$('#cfwkNextLi').hide()
		}
		else{
			$('#cfwkNextA').attr('href', cfwkCurrentPage + 1)
		}
	});
	$('#cfwkPreviousA').click(function(event){
		/*
		Prevent fire
		Add new page ofcomps to div
		Decrement comp page
		*/
		event.preventDefault();		
		addCfwks(cfwkArray[$('#cfwkPreviousA').attr('href')])
		cfwkCurrentPage--

		// Increment next link and show next button
		$('#cfwkNextA').attr('href', cfwkCurrentPage + 1)
		$('#cfwkNextLi').show()

		// If compCurrentPage equals 0 hide previous button
		// Else decrement page for previous link
		if (cfwkCurrentPage == 0){
			$('#cfwkPreviousLi').hide()
		}
		else{
			$('#cfwkPreviousA').attr('href', cfwkCurrentPage - 1)
		}
	});
	$('#pfwkNextA').click(function(event){
		/*
		Prevent fire
		Add new page of comps to div
		Increment comp page
		*/
		event.preventDefault();
		addPfwks(pfwkArray[$('#pfwkNextA').attr('href')])
		pfwkCurrentPage++

		// Decrement previous link and show previous button
		$('#pfwkPreviousA').attr('href', pfwkCurrentPage - 1)
		$('#pfwkPreviousLi').show()

		// If pfwkCurrentPage equals total comp pages hide next button
		// Else increment page for next link
		if (pfwkCurrentPage == pfwkPages){
			$('#pfwkNextLi').hide()
		}
		else{
			$('#pfwkNextA').attr('href', pfwkCurrentPage + 1)
		}
	});
	$('#pfwkPreviousA').click(function(event){
		/*
		Prevent fire
		Add new page ofcomps to div
		Decrement comp page
		*/
		event.preventDefault();		
		addPfwks(pfwkArray[$('#pfwkPreviousA').attr('href')])
		pfwkCurrentPage--

		// Increment next link and show next button
		$('#pfwkNextA').attr('href', pfwkCurrentPage + 1)
		$('#pfwkNextLi').show()

		// If pfwkCurrentPage equals 0 hide previous button
		// Else decrement page for previous link
		if (pfwkCurrentPage == 0){
			$('#pfwkPreviousLi').hide()
		}
		else{
			$('#pfwkPreviousA').attr('href', pfwkCurrentPage - 1)
		}
	});		
</script>
{% endblock %}