{% extends "base.html" %}
{% block content %}
<div class="page-header">
    <h1>{{ current_user.id }} <small> all things related to you</small></h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <span class="glyphicon glyphicon-cog"></span><a href="{{ url_for('me_settings') }}"> Settings</a>
    </div>
</div>
<div class="page-header">
    <div class="row">
        <div class="col-xs-12">
            <label for="username" class="col-xs-1 control-label">Name</label><small id="username">{{ name }}</small>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="email" class="col-xs-1 control-label">Email</label><small id="email">{{ email }}</small>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <small><label for="achived" class="col-xs-1 control-label"><span class="badge">{{ completed }}</span></label><span id="achieved"> achieved competencies</span></small>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <small><label for="inprogress" class="col-xs-1 control-label"><span class="badge">{{ started }}</span></label><span id="inprogress"> competencies in progress</span></small>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
             <a href="#" class="btn btn-primary" role="button" onClick="pushBadges();">Push Badges</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-12">
             {% for ma in mozilla_asserts %}
             <small><b>{{ ma.title }} Badges</b></small><br/>
                 {% for b in ma.badges %}
                 <image src="{{b|safe}}" height="75px" width="75px"/>
                 {% endfor %}
                 <br />
             {% else %}
             <small>You have no badges to display!</small>
             {% endfor %}
        </div>
    </div>     
</div>
<div class="row">
    <h4>Competencies</h4>
    {% for comp in comps %}
    <div class="col-xs-12">
        {% if comp.met %}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="{{ url_for('me_competencies') }}?uri={{ comp.uri }}">{{ comp.title }}</a></h3>
                </div>
                <div class="panel-body">
                    <p>{{ comp.description }}</p>
                    {% if comp.performances %}
                    <p style="color:red">Click the competency link to view your assertions!</p>
                    {% endif %}
                    <ul>
                    {% for lr in comp.lr_data %}
                    <li><a href="{{ lr }}">LR Metadata</a></li>
                    {% else %}
                    There are no known linked LR resources
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="{{ url_for('me_competencies') }}?uri={{ comp.uri }}">{{ comp.title }}</a></h3>
                </div>
                <div class="panel-body">
                    <p>{{ comp.description }}</p>
                    {% if comp.performances %}
                    <p style="color:red">Click the competency link to view your assertions!</p>
                    {% endif %}                    
                    <ul>
                    {% for lr in comp.lr_data %}
                    <li><a href="{{ lr }}">LR Metadata</a></li>
                    {% else %}
                    There are no known linked LR resources
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
    {% else %}
    <div class="col-xs-12">You have not registered for any competencies</div>
    {% endfor %}
</div>
<div class="row">
    <h4>Competency Frameworks</h4>
    {% for cfwk in fwks %}
    <div class="col-xs-12">
        {% if cfwk.met %}
        <div class="panel panel-success">
        {% else %}
        <div class="panel panel-default">
        {% endif %}
            <div class="panel-heading">
                <h3 class="panel-title"><a href="{{ url_for('me_frameworks') }}?uri={{cfwk.uri}}">{{ cfwk.title }}</a></h3>
            </div>
            <div class="panel-body">
                <p>{{ cfwk.description }}</p>
                <ul>
                {% for lr in cfwk.lr_data %}
                <li><a href="{{ lr }}">LR Metadata</a></li>
                {% else %}
                There are no known linked LR resources
                {% endfor %}
                </ul>                
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-xs-12">You have not registered for any competency frameworks</div>
    {% endfor %}
</div>
<div class="row">
    <h4>Performance Frameworks</h4>
    {% for pfwk in pfwks %}
    <div class="col-xs-12">
        {% if pfwk.met %}
        <div class="panel panel-success">
        {% else %}
        <div class="panel panel-default">
        {% endif %}
            <div class="panel-heading">
                <h3 class="panel-title"><a href="{{ url_for('me_perfwks') }}?uri={{pfwk.uri}}">{{ pfwk.title }}</a></h3>
            </div>
            <div class="panel-body">
                <p>{{ pfwk.description }}</p>
                <ul>
                {% for lr in pfwk.lr_data %}
                <li><a href="{{ lr }}">LR Metadata</a></li>
                {% else %}
                There are no known linked LR resources
                {% endfor %}
                </ul>            
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-xs-12">You have not registered for any performance frameworks</div>
    {% endfor %}
</div>
{% endblock %}
{% block js %}
<script src="https://backpack.openbadges.org/issuer.js"></script>
<script type="text/javascript">
    function pushBadges(){
        var badges = {{mozilla_asserts|tojson|safe }}
        toSend = [];
        $.each(badges, function(index,value){
            $.each(value["asserts"], function(i, v){
                toSend.push(v);
            });
        });
        OpenBadges.issue(toSend, function(errors, successes){
            if (errors){
                alert(errors);
            }
            else{
                alert(successes)
            }
        });
    }
</script>
{% endblock %}