{% extends "base.html" %}
{% block content %}
<p>Below are the performance frameworks already added to the system.</p>
{% for pfwk in pfwks %}
<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><a href="{{ url_for('perfwks') }}?uri={{pfwk.uri}}">{{ pfwk.title }}</a></h3>
        </div>
        <div class="panel-body">
            <p>{{ pfwk.description|safe }}</p>
			<ul>
			{% for lr in pfwk.lr_data %}
			<li><a href="{{ lr }}">LR Metadata</a></li>
			{% else %}
			There are no known linked LR resources
			{% endfor %}
			</ul>            
        </div>
    </div>
</div>
{% else %}
<p>No performance frameworks added to the system yet!</p>
{% endfor %}
{% endblock %}
